/* No files to import found in globals/* */
.burndown.overview {
  padding: 0px;
  margin: 20px 0px;
  position: relative;
}
.burndown.overview .is-chart.burndown {
  margin: 25px 0px;
  border-top: 1px solid #346490;
}
.burndown.overview .is-chart.burndown .chart {
  height: 700px;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value {
  font-size: 30px;
  font-color: white;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value {
  font-size: 24px;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value.series-ratio-positive {
  color: #64ff54;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value.series-ratio-negative {
  color: #ff5454;
}
.burndown.overview .is-chart.burndown .legend .series.series-name-ideal .line {
  background-color: #88ee88;
}
.burndown.overview .is-chart.burndown .legend .series.series-name-burndown .line {
  background-color: #67b6ff;
}
.burndown.overview .is-chart.burndown .legend .series.series-name-today .line {
  background-color: #ff9c3b;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips {
  margin-top: 40px;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events {
  text-align: left;
  width: 180px;
  padding: 0px;
  margin: 0px;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .tooltip-title {
  color: #67b6ff;
  text-transform: uppercase;
  padding-bottom: 4px;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .date {
  text-align: left;
  padding-bottom: 6px;
  font-weight: normal;
  text-transform: uppercase;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .events .event {
  font-size: 12px;
  padding: 2px 0px;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .events .event .project-name {
  font-weight: bold;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .events .event .project-info {
  font-style: italic;
  font-size: 11px;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .events .event .project-hours {
  color: #67b6ff;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .scope-summary {
  margin-top: 10px;
}
.burndown.overview .is-chart.burndown .legend .scope-tooltips .chart-tooltip.scope-events .scope-summary .summary-hours {
  color: #67b6ff;
  font-size: 11px;
}
.burndown.overview .section.worker-completion {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 220px;
  margin: 0px;
  background: RGBA(5, 31, 51, 0.5);
}
.burndown.overview .section.worker-completion .worker {
  margin: 2px 0px;
}
.burndown.overview .section.worker-completion .worker .worker-name {
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  min-width: 90px;
}
.burndown.overview .section.worker-completion .worker .completed-hours {
  color: #67b6ff;
}
.burndown.overview .section.worker-completion .worker .completed-ratio {
  color: #67b6ff;
}

.vfteamwork.Burndown.display #Head .Row {
  display: none;
}
.vfteamwork.Burndown.display #Frame > div .Row {
  padding: 0px 10px;
}
.vfteamwork.Burndown.display #Body {
  padding-bottom: 10px;
}
.vfteamwork.Burndown.display .burndown.overview {
  margin-bottom: 0px;
}
.vfteamwork.Burndown.display .burndown.overview .is-chart {
  margin-bottom: 0px;
}
.vfteamwork.Burndown.display .burndown.overview .is-chart .chart {
  height: 960px;
}
