/* No files to import found in globals/* */
.burndown.overview {
  padding: 0px;
  margin: 20px 0px;
}
.burndown.overview .is-chart.burndown {
  margin: 25px 0px;
  border-top: 1px solid #346490;
}
.burndown.overview .is-chart.burndown .chart {
  height: 600px;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value {
  font-size: 30px;
  font-color: white;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value {
  font-size: 24px;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value.series-ratio-positive {
  color: #64ff54;
}
.burndown.overview .is-chart.burndown .info .series.series-option-ratio .value.series-ratio-negative {
  color: #ff5454;
}
.burndown.overview .is-chart.burndown .legend .series.series-name-ideal .line {
  background-color: #88ee88;
}
.burndown.overview .is-chart.burndown .legend .series.series-name-burndown .line {
  background-color: #67b6ff;
}
.burndown.overview .is-chart.burndown .legend .series.series-name-today .line {
  background-color: #ff9c3b;
}
