<div class="section worker-completion js-mustache" data-week="{{burndown.startdate}}" data-template="viewcompletion" data-contexts="burndown">
    <div class="completion-title title">sprint progress</div>
    <div class="workers">
        {{#workers-progress}}
            <div class="worker" data-workerid="{{worker-id}}">
                <span class="worker-name">{{worker}}</span> <span class="completed-hours">{{completed}}</span> / <span class="estimated-hours">{{estimated}}</span> = <span class="completed-ratio">{{ratio}}%</span>
            </div>
        {{/workers-progress}}
    </div>
</div>