//
// View Cluster Traffic
//

.burndown.overview {
    padding: 0px;
    margin: 20px 0px;

    .is-chart.burndown {
        margin: 25px 0px;
        border-top: 1px solid $sectionBorder;

        .chart {
            height: 600px;
        }

        .info {

            .series {

                &.series-option-ratio .value {
                    font-size: 30px;
                    font-color: white;
                }

                &.series-option-ratio .value {
                    font-size: 24px;

                    &.series-ratio-positive {
                        color: #64ff54;
                    }

                    &.series-ratio-negative {
                        color: #ff5454;
                    }
                }
            }
        }

        .legend {

            .series {
                &.series-name-ideal .line {
                    background-color: #88ee88;
                }

                &.series-name-burndown .line {
                    background-color: #67b6ff;
                }

                &.series-name-today .line {
                    background-color: #ff9c3b;
                }
            }

            .scope-tooltips {
                margin-top: 40px;

                .chart-tooltip.scope-events {
                    text-align: left;
                    width: 180px;
                    padding: 0px;
                    margin: 0px;

                    .tooltip-title {
                        color: $highlightText;
                        text-transform: uppercase;
                        padding-bottom: 4px;
                    }

                    .date {
                        text-align: left;
                        padding-bottom: 6px;
                        font-weight: normal;
                        text-transform: uppercase;
                    }

                    .events {
                        .event {
                            font-size: 12px;
                            padding: 2px 0px;

                            .project-name {
                                font-weight: bold;
                            }
                            .project-info {
                                font-style: italic;
                                font-size: 11px;
                            }

                            .project-events {

                            }
                            .project-hours {
                                color: $highlightText;
                            }
                        }
                    }

                    .scope-summary {
                        margin-top: 10px;

                        .summary-hours {
                            color: $highlightText;
                            font-size: 11px;
                        }
                    }
                }
            }

        }

    }

    .worker-completion {
        .worker {
            margin: 2px 0px;

            .worker-name {
                font-size: 12px;
                font-weight: bold;
                display: inline-block;
                min-width: 90px;
            }

            .completed-hours {
                color: $highlightText;
            }

            .completed-ratio {
                color: $highlightText;
            }
        }
    }

}
